* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(234, 171, 26);
    background: linear-gradient(90deg, rgba(234, 171, 26, 1) 0%, rgba(218, 154, 72, 1) 23%, rgba(129, 96, 176, 1) 61%, rgba(116, 73, 177, 1) 85%);
}

.container {
    height: 600px;
    width: 600px;
    margin: 50px auto;
    text-align: center;
    padding-top: 200px;
    border: 1px solid rgba(55, 55, 55, 0.4);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background: #E1AEFF;
    box-shadow: -5px 6px 16px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 6px 16px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 16px -3px rgba(0,0,0,0.75);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #3B3486;
    margin-bottom: 50px;
}

#input-text {
    width: 400px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#convert-button {
    width: 120px;
    height: 40px;
    background-color: #3B3486;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.1s ease;
}

#convert-button:hover {
    background-color: #333333;
}

div input[type="text"] {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

#copy-button {
    width: 80px;
    height: 25px;
    background-color: #3B3486;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.1s ease;
}

#copy-button:hover {
    background-color: #333333;
}

#outputs {
    padding-left: 50px;
    margin: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding-top: 100px;
        height: auto;
    }

    #input-text {
        width: 90%;
    }

    #convert-button {
        width: 100px;
        height: 35px;
    }

    div input[type="text"] {
        width: 90%;
    }

    #copy-button {
        margin: 10px;
        width: 70px;
        height: 20px;
    }

    #outputs {
        padding-left: 20px;
        margin: 5px;
    }


}
